go 1.27.1

use (
	./canva/canva
	./egnyte/egnyte
	./hubspot/crm-contacts/v3
	./mailchimp/marketing/v3
	./monday/monday/v2
	./notion/notion
	./officernd/officernd/v2
	./slack/slack
	./stripe/stripe
	./tools
)
