{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "name": "Canva Developer Community",
      "url": "https://community.canva.dev/"
    },
    "description": "API for building apps with Canva via a REST api",
    "license": {
      "name": "\u00a92023 All Rights Reserved"
    },
    "termsOfService": "https://www.canva.com/trust/legal/",
    "title": "Canva REST APIs",
    "version": "2024-06-18"
  },
  "servers": [
    {
      "description": "Canva REST APIs",
      "url": "https://api.canva.com/rest"
    }
  ],
  "tags": [
    {
      "description": "Allow management of brands",
      "name": "brands"
    },
    {
      "name": "analytics"
    },
    {
      "name": "app"
    },
    {
      "name": "asset"
    },
    {
      "name": "autofill"
    },
    {
      "name": "brand_template"
    },
    {
      "name": "comment"
    },
    {
      "name": "connect"
    },
    {
      "name": "design"
    },
    {
      "name": "design_import"
    },
    {
      "name": "export"
    },
    {
      "name": "folder"
    },
    {
      "name": "image_transformation"
    },
    {
      "name": "merge"
    },
    {
      "name": "oauth"
    },
    {
      "name": "oidc"
    },
    {
      "name": "resize"
    },
    {
      "name": "user"
    }
  ],
  "paths": {
    "/v1/designs/{designId}/analytics": {
      "get": {
        "description": "<Warning>\n\nThis API is currently provided as a preview. Be aware of the following:\n\n- There might be unannounced breaking changes.\n- Any breaking changes to preview APIs won't produce a new [API version](https://www.canva.dev/docs/apps/rest-apis/versions/).\n- Public apps that use preview APIs will not pass the review process, and can't be made available to all Canva users.\n\n</Warning>\n\n<Availability>\nTo use this API, your app must act on behalf of a user who is a member of a [Canva Enterprise](https://www.canva.com/enterprise/) organization.\n</Availability>\n\nGets the aggregated analytics for a design.\n\nThe response includes total views, unique viewers, and view duration metrics.",
        "operationId": "getDesignAnalytics",
        "parameters": [
          {
            "description": "The design ID.",
            "explode": false,
            "in": "path",
            "name": "designId",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDesignAnalyticsResponse"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "analytics_invalid_design_id": {
                    "$ref": "#/components/examples/AnalyticsInvalidDesignIdError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "invalid_access_token": {
                    "$ref": "#/components/examples/InvalidAccessToken"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "analytics_permission_denied": {
                    "$ref": "#/components/examples/AnalyticsPermissionDeniedError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "analytics_design_not_found": {
                    "$ref": "#/components/examples/AnalyticsDesignNotFoundError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found"
          },
          "429": {
            "content": {
              "application/json": {
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/TooManyRequestsError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "design:content:read"
            ]
          }
        ],
        "tags": [
          "analytics"
        ],
        "x-required-capabilities": [
          "analytics"
        ],
        "x-rate-limit-per-client-user": 100
      }
    },
    "/v1/designs/{designId}/analytics/viewers": {
      "get": {
        "description": "<Warning>\n\nThis API is currently provided as a preview. Be aware of the following:\n\n- There might be unannounced breaking changes.\n- Any breaking changes to preview APIs won't produce a new [API version](https://www.canva.dev/docs/apps/rest-apis/versions/).\n- Public apps that use preview APIs will not pass the review process, and can't be made available to all Canva users.\n\n</Warning>\n\n<Availability>\nTo use this API, your app must act on behalf of a user who is a member of a [Canva Enterprise](https://www.canva.com/enterprise/) organization.\n</Availability>\n\nLists viewers for a design, ordered by most recent view first.",
        "operationId": "getDesignAnalyticsViewers",
        "parameters": [
          {
            "description": "The design ID.",
            "explode": false,
            "in": "path",
            "name": "designId",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            },
            "style": "simple"
          },
          {
            "description": "Filters viewers by a specific trackable link. If omitted, only viewers who visited the design without using a trackable link are returned.",
            "explode": true,
            "in": "query",
            "name": "link_id",
            "required": false,
            "schema": {
              "example": "hddb98a3716",
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "Only returns viewers whose first view happened after this time, as a Unix timestamp (in seconds since the Unix Epoch).",
            "explode": true,
            "in": "query",
            "name": "first_viewed_after",
            "required": false,
            "schema": {
              "example": 1745452800,
              "format": "int64",
              "type": "integer"
            },
            "style": "form"
          },
          {
            "description": "The maximum number of viewers to return per page.",
            "explode": true,
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 50,
              "example": 50,
              "format": "int32",
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            },
            "style": "form"
          },
          {
            "description": "If the success response contains a continuation token, there are more viewers you can list. You can use this token as a query parameter and retrieve more viewers from the list, for example `/v1/designs/{designId}/analytics/viewers?continuation={continuation}`.\n\nTo retrieve all viewers, you might need to make multiple requests.",
            "explode": true,
            "in": "query",
            "name": "continuation",
            "required": false,
            "schema": {
              "example": "RkFGMgXlsVTDbMd:MR3L0QjiaUzycIAjx0yMyuNiV0OildoiOwL0x32G4NjNu4FwtAQNxowUQNMMYN",
              "type": "string"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDesignAnalyticsViewersResponse"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "analytics_invalid_query_parameter": {
                    "$ref": "#/components/examples/ExpectedLongQueryParam"
                  },
                  "analytics_invalid_continuation_token": {
                    "$ref": "#/components/examples/AnalyticsInvalidContinuationError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "invalid_access_token": {
                    "$ref": "#/components/examples/InvalidAccessToken"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "analytics_permission_denied": {
                    "$ref": "#/components/examples/AnalyticsPermissionDeniedError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "analytics_design_not_found": {
                    "$ref": "#/components/examples/AnalyticsDesignNotFoundError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found"
          },
          "429": {
            "content": {
              "application/json": {
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/TooManyRequestsError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "design:content:read"
            ]
          }
        ],
        "tags": [
          "analytics"
        ],
        "x-required-capabilities": [
          "analytics"
        ],
        "x-rate-limit-per-client-user": 100
      }
    },
    "/v1/designs/{designId}/analytics/views-over-time": {
      "get": {
        "description": "<Warning>\n\nThis API is currently provided as a preview. Be aware of the following:\n\n- There might be unannounced breaking changes.\n- Any breaking changes to preview APIs won't produce a new [API version](https://www.canva.dev/docs/apps/rest-apis/versions/).\n- Public apps that use preview APIs will not pass the review process, and can't be made available to all Canva users.\n\n</Warning>\n\n<Availability>\nTo use this API, your app must act on behalf of a user who is a member of a [Canva Enterprise](https://www.canva.com/enterprise/) organization.\n</Availability>\n\nLists the view counts over time for a design.\n\nEach response item represents one time bucket.",
        "operationId": "getDesignAnalyticsViewsOverTime",
        "parameters": [
          {
            "description": "The design ID.",
            "explode": false,
            "in": "path",
            "name": "designId",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            },
            "style": "simple"
          },
          {
            "description": "The inclusive start of the requested time range, as a Unix timestamp (in seconds since the Unix Epoch).",
            "explode": true,
            "in": "query",
            "name": "start_time",
            "required": false,
            "schema": {
              "example": 1745452800,
              "format": "int64",
              "type": "integer"
            },
            "style": "form"
          },
          {
            "description": "The inclusive end of the requested time range, as a Unix timestamp (in seconds since the Unix Epoch).",
            "explode": true,
            "in": "query",
            "name": "end_time",
            "required": false,
            "schema": {
              "example": 1748044800,
              "format": "int64",
              "type": "integer"
            },
            "style": "form"
          },
          {
            "description": "The timezone to use for bucketing, as a UTC offset in the form `+HH:MM` (for example, `+10:00`).",
            "explode": true,
            "in": "query",
            "name": "timezone",
            "required": false,
            "schema": {
              "default": "+00:00",
              "example": "600",
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "The maximum number of time buckets to return per page.",
            "explode": true,
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 50,
              "example": 50,
              "format": "int32",
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            },
            "style": "form"
          },
          {
            "description": "If the success response contains a continuation token, there are more time buckets you can list. You can use this token as a query parameter and retrieve more time buckets from the list, for example `/v1/designs/{designId}/analytics/views-over-time?continuation={continuation}`.\n\nTo retrieve all time buckets, you might need to make multiple requests.",
            "explode": true,
            "in": "query",
            "name": "continuation",
            "required": false,
            "schema": {
              "example": "RkFGMgXlsVTDbMd:MR3L0QjiaUzycIAjx0yMyuNiV0OildoiOwL0x32G4NjNu4FwtAQNxowUQNMMYN",
              "type": "string"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDesignAnalyticsViewsOverTimeResponse"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "analytics_invalid_query_parameter": {
                    "$ref": "#/components/examples/ExpectedLongQueryParam"
                  },
                  "analytics_invalid_time_range": {
                    "$ref": "#/components/examples/AnalyticsInvalidTimeRangeError"
                  },
                  "analytics_invalid_timezone": {
                    "$ref": "#/components/examples/AnalyticsInvalidTimezoneError"
                  },
                  "analytics_invalid_continuation_token": {
                    "$ref": "#/components/examples/AnalyticsInvalidContinuationError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "invalid_access_token": {
                    "$ref": "#/components/examples/InvalidAccessToken"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "analytics_permission_denied": {
                    "$ref": "#/components/examples/AnalyticsPermissionDeniedError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "analytics_design_not_found": {
                    "$ref": "#/components/examples/AnalyticsDesignNotFoundError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found"
          },
          "429": {
            "content": {
              "application/json": {
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/TooManyRequestsError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "design:content:read"
            ]
          }
        ],
        "tags": [
          "analytics"
        ],
        "x-required-capabilities": [
          "analytics"
        ],
        "x-rate-limit-per-client-user": 100
      }
    },
    "/v1/designs/{designId}/analytics/page-views": {
      "post": {
        "description": "<Warning>\n\nThis API is currently provided as a preview. Be aware of the following:\n\n- There might be unannounced breaking changes.\n- Any breaking changes to preview APIs won't produce a new [API version](https://www.canva.dev/docs/apps/rest-apis/versions/).\n- Public apps that use preview APIs will not pass the review process, and can't be made available to all Canva users.\n\n</Warning>\n\n<Availability>\nTo use this API, your app must act on behalf of a user who is a member of a [Canva Enterprise](https://www.canva.com/enterprise/) organization.\n</Availability>\n\nLists the page-level view duration data for a design.\n\nThe request body can include page filters and pagination controls.",
        "operationId": "getDesignAnalyticsPageViews",
        "parameters": [
          {
            "description": "The design ID.",
            "explode": false,
            "in": "path",
            "name": "designId",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDesignAnalyticsPageViewsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDesignAnalyticsPageViewsResponse"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "analytics_invalid_request_body": {
                    "$ref": "#/components/examples/FailedToReadRequestBody"
                  },
                  "analytics_invalid_page_views_filter": {
                    "$ref": "#/components/examples/AnalyticsInvalidPageViewsFilterError"
                  },
                  "analytics_invalid_continuation_token": {
                    "$ref": "#/components/examples/AnalyticsInvalidContinuationError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "invalid_access_token": {
                    "$ref": "#/components/examples/InvalidAccessToken"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "analytics_permission_denied": {
                    "$ref": "#/components/examples/AnalyticsPermissionDeniedError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "analytics_design_not_found": {
                    "$ref": "#/components/examples/AnalyticsDesignNotFoundError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found"
          },
          "429": {
            "content": {
              "application/json": {
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/TooManyRequestsError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "design:content:read"
            ]
          }
        ],
        "tags": [
          "analytics"
        ],
        "x-required-capabilities": [
          "analytics"
        ],
        "x-rate-limit-per-client-user": 100
      }
    },
    "/v1/designs/{designId}/analytics/links": {
      "get": {
        "description": "<Warning>\n\nThis API is currently provided as a preview. Be aware of the following:\n\n- There might be unannounced breaking changes.\n- Any breaking changes to preview APIs won't produce a new [API version](https://www.canva.dev/docs/apps/rest-apis/versions/).\n- Public apps that use preview APIs will not pass the review process, and can't be made available to all Canva users.\n\n</Warning>\n\n<Availability>\nTo use this API, your app must act on behalf of a user who is a member of a [Canva Enterprise](https://www.canva.com/enterprise/) organization.\n</Availability>\n\nLists trackable links and their metrics for a design.",
        "operationId": "getDesignAnalyticsLinks",
        "parameters": [
          {
            "description": "The design ID.",
            "explode": false,
            "in": "path",
            "name": "designId",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            },
            "style": "simple"
          },
          {
            "description": "The maximum number of links to return per page.",
            "explode": true,
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 50,
              "example": 50,
              "format": "int32",
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            },
            "style": "form"
          },
          {
            "description": "If the success response contains a continuation token, there are more links you can list. You can use this token as a query parameter and retrieve more links from the list, for example `/v1/designs/{designId}/analytics/links?continuation={continuation}`.\n\nTo retrieve all links, you might need to make multiple requests.",
            "explode": true,
            "in": "query",
            "name": "continuation",
            "required": false,
            "schema": {
              "example": "RkFGMgXlsVTDbMd:MR3L0QjiaUzycIAjx0yMyuNiV0OildoiOwL0x32G4NjNu4FwtAQNxowUQNMMYN",
              "type": "string"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDesignAnalyticsLinksResponse"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "analytics_invalid_query_parameter": {
                    "$ref": "#/components/examples/ExpectedLongQueryParam"
                  },
                  "analytics_invalid_continuation_token": {
                    "$ref": "#/components/examples/AnalyticsInvalidContinuationError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "invalid_access_token": {
                    "$ref": "#/components/examples/InvalidAccessToken"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "analytics_permission_denied": {
                    "$ref": "#/components/examples/AnalyticsPermissionDeniedError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "analytics_design_not_found": {
                    "$ref": "#/components/examples/AnalyticsDesignNotFoundError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found"
          },
          "429": {
            "content": {
              "application/json": {
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/TooManyRequestsError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "design:content:read"
            ]
          }
        ],
        "tags": [
          "analytics"
        ],
        "x-required-capabilities": [
          "analytics"
        ],
        "x-rate-limit-per-client-user": 100
      }
    },
    "/v1/apps/{appId}/jwks": {
      "get": {
        "description": "Returns the Json Web Key Set (public keys) of an app. These keys are used to\nverify JWTs sent to app backends.",
        "operationId": "getAppJwks",
        "parameters": [
          {
            "description": "The app ID.",
            "explode": false,
            "in": "path",
            "name": "appId",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAppJwksResponse"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "auth_keys_not_found": {
                    "$ref": "#/components/examples/AuthKeysNotFoundError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "tags": [
          "app"
        ]
      }
    },
    "/v1/assets/{assetId}": {
      "delete": {
        "description": "You can delete an asset by specifying its `assetId`. This operation mirrors the behavior\nin the Canva UI. Deleting an item moves it to the trash.\nDeleting an asset doesn't remove it from designs that already use it.",
        "operationId": "deleteAsset",
        "parameters": [
          {
            "description": "The ID of the asset.",
            "explode": false,
            "in": "path",
            "name": "assetId",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "asset_delete_not_allowed": {
                    "$ref": "#/components/examples/AssetDeleteNotAllowedError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "asset_not_found": {
                    "$ref": "#/components/examples/AssetNotFoundError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "asset:write"
            ]
          }
        ],
        "tags": [
          "asset"
        ],
        "x-rate-limit-per-client-user": 30
      },
      "get": {
        "description": "You can retrieve the metadata of an asset by specifying its `assetId`.",
        "operationId": "getAsset",
        "parameters": [
          {
            "description": "The ID of the asset.",
            "explode": false,
            "in": "path",
            "name": "assetId",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAssetResponse"
                }
              }
            },
            "description": "OK"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "asset_access_not_allowed": {
                    "$ref": "#/components/examples/AssetAccessNotAllowedError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "asset_not_found": {
                    "$ref": "#/components/examples/AssetNotFoundError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "asset:read"
            ]
          }
        ],
        "tags": [
          "asset"
        ],
        "x-rate-limit-per-client-user": 100
      },
      "patch": {
        "description": "You can update the name and tags of an asset by specifying its `assetId`. Updating the tags\nreplaces all existing tags of the asset.",
        "operationId": "updateAsset",
        "parameters": [
          {
            "description": "The ID of the asset.",
            "explode": false,
            "in": "path",
            "name": "assetId",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAssetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAssetResponse"
                }
              }
            },
            "description": "OK"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "asset_update_not_allowed": {
                    "$ref": "#/components/examples/AssetUpdateNotAllowedError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "asset_not_found": {
                    "$ref": "#/components/examples/AssetNotFoundError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "asset:write"
            ]
          }
        ],
        "tags": [
          "asset"
        ],
        "x-rate-limit-per-client-user": 30
      }
    },
    "/v1/asset-uploads": {
      "post": {
        "description": "Starts a new [asynchronous job](https://www.canva.dev/docs/apps/rest-apis/requests-responses/#asynchronous-job-endpoints) to upload an asset to the user's content library. Supported file types for assets are listed in the [Assets API overview](https://www.canva.dev/docs/apps/rest-apis/reference/assets/).\n\nThe request format for this endpoint is an `application/octet-stream` body of bytes. Attach\ninformation about the upload using an `Asset-Upload-Metadata` header.\n\n\n<Note>\n\nFor more information on the workflow for using asynchronous jobs, see [API requests and responses](https://www.canva.dev/docs/apps/rest-apis/requests-responses/#asynchronous-job-endpoints). You can check the status and get the results of asset upload jobs created with this API using the [Get asset upload job API](https://www.canva.dev/docs/apps/rest-apis/reference/assets/get-asset-upload-job/).\n\n</Note>",
        "operationId": "CreateAssetUploadJob",
        "parameters": [
          {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetUploadMetadata"
                }
              }
            },
            "in": "header",
            "name": "Asset-Upload-Metadata",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "format": "binary",
                "type": "string"
              }
            }
          },
          "description": "Binary of the asset to upload.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "in_progress": {
                    "$ref": "#/components/examples/InProgressAssetUploadJobExample"
                  },
                  "success": {
                    "$ref": "#/components/examples/SuccessAssetUploadJobExample"
                  },
                  "failed": {
                    "$ref": "#/components/examples/FailedAssetUploadJobExample"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/CreateAssetUploadJobResponse"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "asset:write"
            ]
          }
        ],
        "tags": [
          "asset"
        ],
        "x-rate-limit-per-client-user": 30
      }
    },
    "/v1/asset-uploads/{jobId}": {
      "get": {
        "description": "Get the result of an asset upload job that was created using the [Create asset upload job API](https://www.canva.dev/docs/apps/rest-apis/reference/assets/create-asset-upload-job/).\n\nYou might need to make multiple requests to this endpoint until you get a `success` or `failed` status. For more information on the workflow for using asynchronous jobs, see [API requests and responses](https://www.canva.dev/docs/apps/rest-apis/requests-responses/#asynchronous-job-endpoints).",
        "operationId": "GetAssetUploadJob",
        "parameters": [
          {
            "description": "The asset upload job ID.",
            "explode": false,
            "in": "path",
            "name": "jobId",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "in_progress": {
                    "$ref": "#/components/examples/InProgressAssetUploadJobExample"
                  },
                  "success": {
                    "$ref": "#/components/examples/SuccessAssetUploadJobExample"
                  },
                  "failed": {
                    "$ref": "#/components/examples/FailedAssetUploadJobExample"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/GetAssetUploadJobResponse"
                }
              }
            },
            "description": "OK"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "asset_access_not_allowed": {
                    "$ref": "#/components/examples/AssetAccessNotAllowedError"
                  },
                  "asset_upload_job_not_creator": {
                    "$ref": "#/components/examples/AssetUploadJobNotCreatorError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "asset_not_found": {
                    "$ref": "#/components/examples/AssetNotFoundError"
                  },
                  "asset_upload_job_not_found": {
                    "$ref": "#/components/examples/AssetUploadJobNotFoundError"
                  },
                  "job_id_not_found": {
                    "$ref": "#/components/examples/AssetJobIdNotFoundError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "asset:read"
            ]
          }
        ],
        "tags": [
          "asset"
        ],
        "x-rate-limit-per-client-user": 180
      }
    },
    "/v1/url-asset-uploads": {
      "post": {
        "description": "<Warning>\n\nThis API is currently provided as a preview. Be aware of the following:\n\n- There might be unannounced breaking changes.\n- Any breaking changes to preview APIs won't produce a new [API version](https://www.canva.dev/docs/apps/rest-apis/versions/).\n- Public apps that use preview APIs will not pass the review process, and can't be made available to all Canva users.\n\n</Warning>\n\nStarts a new [asynchronous job](https://www.canva.dev/docs/apps/rest-apis/requests-responses/#asynchronous-job-endpoints) to upload an asset from a URL to the user's content library. Supported file types for assets are listed in the [Assets API overview](https://www.canva.dev/docs/apps/rest-apis/reference/assets/).\n\n<Note>\n Uploading a video asset from a URL is limited to a maximum 100MB file size. For importing larger video files, use the [Create asset upload job API](https://www.canva.dev/docs/apps/rest-apis/reference/assets/create-asset-upload-job/).\n</Note>\n\n<Note>\nFor more information on the workflow for using asynchronous jobs, see [API requests and responses](https://www.canva.dev/docs/apps/rest-apis/requests-responses/#asynchronous-job-endpoints). You can check the status and get the results of asset upload jobs created with this API using the [Get asset upload job via URL API](https://www.canva.dev/docs/apps/rest-apis/reference/assets/get-url-asset-upload-job/).\n</Note>",
        "operationId": "createUrlAssetUploadJob",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUrlAssetUploadJobRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "in_progress": {
                    "$ref": "#/components/examples/InProgressAssetUploadJobExample"
                  },
                  "success": {
                    "$ref": "#/components/examples/SuccessAssetUploadJobExample"
                  },
                  "failed": {
                    "$ref": "#/components/examples/FailedAssetUploadJobExample"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/CreateUrlAssetUploadJobResponse"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "url_invalid": {
                    "$ref": "#/components/examples/AssetUrlInvalidError"
                  },
                  "asset_upload_already_exists": {
                    "$ref": "#/components/examples/AssetUploadAlreadyExistsError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "job_with_id_not_found": {
                    "$ref": "#/components/examples/AssetJobWithIdNotFoundError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "asset:write"
            ]
          }
        ],
        "tags": [
          "asset"
        ],
        "x-rate-limit-per-client-user": 30
      }
    },
    "/v1/url-asset-uploads/{jobId}": {
      "get": {
        "description": "<Warning>\n\nThis API is currently provided as a preview. Be aware of the following:\n\n- There might be unannounced breaking changes.\n- Any breaking changes to preview APIs won't produce a new [API version](https://www.canva.dev/docs/apps/rest-apis/versions/).\n- Public apps that use preview APIs will not pass the review process, and can't be made available to all Canva users.\n\n</Warning>\n\nGet the result of an asset upload job that was created using the [Create asset upload job via URL API](https://www.canva.dev/docs/apps/rest-apis/reference/assets/create-url-asset-upload-job/).\n\nYou might need to make multiple requests to this endpoint until you get a `success` or `failed` status. For more information on the workflow for using asynchronous jobs, see [API requests and responses](https://www.canva.dev/docs/apps/rest-apis/requests-responses/#asynchronous-job-endpoints).",
        "operationId": "getUrlAssetUploadJob",
        "parameters": [
          {
            "description": "The asset upload job ID.",
            "explode": false,
            "in": "path",
            "name": "jobId",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "in_progress": {
                    "$ref": "#/components/examples/InProgressAssetUploadJobExample"
                  },
                  "success": {
                    "$ref": "#/components/examples/SuccessAssetUploadJobExample"
                  },
                  "failed": {
                    "$ref": "#/components/examples/FailedAssetUploadJobExample"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/GetUrlAssetUploadJobResponse"
                }
              }
            },
            "description": "OK"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "get_this_job_status_not_allowed": {
                    "$ref": "#/components/examples/GetThisJobStatusNotAllowedError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "job_not_found": {
                    "$ref": "#/components/examples/AssetJobNotFoundError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "asset:read"
            ]
          }
        ],
        "tags": [
          "asset"
        ],
        "x-rate-limit-per-client-user": 180
      }
    },
    "/v1/autofills": {
      "post": {
        "description": "<Availability>\nTo use this API, your app must act on behalf of a user that's on a Canva plan with access to autofill (such as Canva Pro, Canva Teams, or Canva Enterprise).\n</Availability>\n\nStarts a new [asynchronous job](https://www.canva.dev/docs/apps/rest-apis/requests-responses/#asynchronous-job-endpoints) to autofill a Canva design using input data. Use the `type` field to choose the source of the design:\n\n- `create_from_brand_template`: autofill a new design from a brand template. If `type` isn't specified in the request, the request type is assumed to be `create_from_brand_template`. To get a list of input data fields for a brand template, use the [Get brand template dataset API](https://www.canva.dev/docs/apps/rest-apis/reference/brand-templates/get-brand-template-dataset/).\n- `create_from_design`: autofill a new design from an existing design that contains autofill data fields. To get the input data fields for an existing design, use the [Get design dataset\nAPI](https://www.canva.dev/docs/apps/rest-apis/reference/designs/get-design-dataset/).\n- `update_design`: autofill an existing design in place, rather than creating a new design. To get the input data fields for the design, use the [Get design dataset API](https://www.canva.dev/docs/apps/rest-apis/reference/designs/get-design-dataset/).\n\nData fields in brand templates or designs might change (for example, they might be renamed or removed). If you provide data for a field name that doesn't exist, it's silently skipped. Use the Get dataset APIs to confirm the current fields before creating an autofill job.\n\nAvailable data field types to autofill include:\n\n- Images (which you can autofill with an image or a video asset)\n- Text\n- Charts\n- Sheets\n\nNOTE: For more information on the workflow for using asynchronous jobs, see [API requests and responses](https://www.canva.dev/docs/apps/rest-apis/requests-responses/#asynchronous-job-endpoints). You can check the status and get the results of autofill jobs created with this API using the [Get design autofill job API](https://www.canva.dev/docs/apps/rest-apis/reference/autofills/get-design-autofill-job/).",
        "operationId": "createDesignAutofillJob",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDesignAutofillJobRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "in_progress": {
                    "$ref": "#/components/examples/InProgressAutofillJobExample"
                  },
                  "success": {
                    "$ref": "#/components/examples/SuccessAutofillJobExample"
                  },
                  "failed": {
                    "$ref": "#/components/examples/FailedAutofillJobExample"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/CreateDesignAutofillJobResponse"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "design_title_invalid": {
                    "$ref": "#/components/examples/DesignTitleInvalidError"
                  },
                  "chart_data_processing_unsupported": {
                    "$ref": "#/components/examples/ChartDataProcessingUnsupportedError"
                  },
                  "invalid_brand_template_id": {
                    "$ref": "#/components/examples/InvalidBrandTemplateIdError"
                  },
                  "design_not_fillable": {
                    "$ref": "#/components/examples/DesignNotFillableError"
                  },
                  "autofill_data_invalid": {
                    "$ref": "#/components/examples/AutofillDataInvalidError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "brand_template_forbidden": {
                    "$ref": "#/components/examples/BrandTemplateForbiddenError"
                  },
                  "autofill_design_forbidden": {
                    "$ref": "#/components/examples/AutofillDesignForbiddenError"
                  },
                  "autofill_feature_forbidden": {
                    "$ref": "#/components/examples/AutofillFeatureForbiddenError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "brand_template_not_found": {
                    "$ref": "#/components/examples/BrandTemplateNotFoundError"
                  },
                  "autofill_design_not_found": {
                    "$ref": "#/components/examples/AutofillDesignNotFoundError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found"
          },
          "429": {
            "content": {
              "application/json": {
                "examples": {
                  "autofill_feature_quota_exceeded": {
                    "$ref": "#/components/examples/AutofillFeatureQuotaExceededError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/FeatureQuotaExceededError"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "design:content:write"
            ]
          }
        ],
        "tags": [
          "autofill"
        ],
        "x-rate-limit-per-client-user": 60
      }
    },
    "/v1/autofills/{jobId}": {
      "get": {
        "description": "<Availability>\nTo use this API, your app must act on behalf of a user that's on a Canva plan with access to autofill (such as Canva Pro, Canva Teams, or Canva Enterprise).\n</Availability>\n\nGet the result of a design autofill job that was created using the [Create design autofill job\nAPI](https://www.canva.dev/docs/apps/rest-apis/reference/autofills/create-design-autofill-job/).\n\nYou might need to make multiple requests to this endpoint until you get a `success` or `failed` status. For more information on the workflow for using asynchronous jobs, see [API requests and responses](https://www.canva.dev/docs/apps/rest-apis/requests-responses/#asynchronous-job-endpoints).",
        "operationId": "getDesignAutofillJob",
        "parameters": [
          {
            "description": "The design autofill job ID.",
            "explode": false,
            "in": "path",
            "name": "jobId",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "in_progress": {
                    "$ref": "#/components/examples/InProgressAutofillJobExample"
                  },
                  "success": {
                    "$ref": "#/components/examples/SuccessAutofillJobExample"
                  },
                  "failed": {
                    "$ref": "#/components/examples/FailedAutofillJobExample"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/GetDesignAutofillJobResponse"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "design_autofill_job_not_found": {
                    "$ref": "#/components/examples/DesignAutofillJobNotFoundError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "design_autofill_job_forbidden": {
                    "$ref": "#/components/examples/DesignAutofillJobForbiddenError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "design:meta:read"
            ]
          }
        ],
        "tags": [
          "autofill"
        ],
        "x-rate-limit-per-client-user": 120
      }
    },
    "/v1/brand-templates": {
      "get": {
        "description": "AVAILABILITY: To use this API, your app must act on behalf of a user that's on a Canva plan with access to brand templates (such as Canva Pro, Canva Teams, or Canva Enterprise).\n\nGet a list of the [brand templates](https://www.canva.com/help/publish-team-template/) the user has access to.",
        "operationId": "listBrandTemplates",
        "parameters": [
          {
            "description": "Lets you search the brand templates available to the user using a search term or terms.",
            "explode": true,
            "in": "query",
            "name": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "If the success response contains a continuation token, the user has access to more\nbrand templates you can list. You can use this token as a query parameter and retrieve\nmore templates from the list, for example\n`/v1/brand-templates?continuation={continuation}`.\nTo retrieve all the brand templates available to the user, you might need to make\nmultiple requests.",
            "explode": true,
            "in": "query",
            "name": "continuation",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "The number of brand templates to return.",
            "explode": true,
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 25,
              "format": "int32",
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            },
            "style": "form"
          },
          {
            "description": "Filter the list of brand templates based on the user's ownership of the brand templates.",
            "explode": true,
            "in": "query",
            "name": "ownership",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/OwnershipType"
            },
            "style": "form"
          },
          {
            "description": "Sort the list of brand templates.",
            "explode": true,
            "in": "query",
            "name": "sort_by",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SortByType"
            },
            "style": "form"
          },
          {
            "description": "Filter the list of brand templates based on the brand templates' dataset definitions.\nBrand templates with dataset definitions are mainly used with the [Autofill APIs](https://www.canva.dev/docs/apps/rest-apis/reference/autofills/).",
            "explode": true,
            "in": "query",
            "name": "dataset",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/DatasetFilter"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBrandTemplatesResponse"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "invalid_continuation": {
                    "$ref": "#/components/examples/InvalidContinuationError"
                  },
                  "design_type_not_available": {
                    "$ref": "#/components/examples/DesignTypeNotAvailableError"
                  },
                  "unable_to_fetch_designs": {
                    "$ref": "#/components/examples/UnableToFetchDesignsError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "find_brand_templates_forbidden": {
                    "$ref": "#/components/examples/FindBrandTemplatesForbiddenError"
                  },
                  "not_allowed_to_access_design_list": {
                    "$ref": "#/components/examples/ListDesignsForbiddenError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "brandtemplate:meta:read"
            ]
          }
        ],
        "tags": [
          "brand_template"
        ],
        "x-rate-limit-per-client-user": 100
      },
      "post": {
        "description": "<Warning>\n\nThis API is currently provided as a preview. Be aware of the following:\n\n- There might be unannounced breaking changes.\n- Any breaking changes to preview APIs won't produce a new [API version](https://www.canva.dev/docs/apps/rest-apis/versions/).\n- Public apps that use preview APIs will not pass the review process, and can't be made available to all Canva users.\n\n</Warning>\n\nAVAILABILITY: To use this API, your app must act on behalf of a user that's on a Canva plan with access to brand templates (such as Canva Pro, Canva Teams, or Canva Enterprise). Additionally, the user must have one of the following [roles](https://www.canva.com/help/roles-and-permissions/): Team admin, Brand designer, Organization admin, or Organization designer.\n\nPublishes a design as a [brand template](https://www.canva.com/help/publish-team-template/). Brand templates are design templates that can be shared across a team for consistent content creation.\n\nThis API supports two workflows:\n\n- **Initial publish**: If the design is not linked to an existing brand template, a new brand template is created.\n- **Republish**: If the design is a draft of an existing brand template (created by editing an existing template), the existing template is updated with the changes.\n\nThe API returns the published brand template immediately.\n\n<Note>\nThe `thumbnail` field might be `null` immediately after publishing, as thumbnails are generated asynchronously. You can use the [Get brand template API](https://www.canva.dev/docs/apps/rest-apis/reference/brand-templates/get-brand-template/) to retrieve the thumbnail once it's ready. The brand template's `view_url` and `create_url` are available immediately.\n</Note>",
        "operationId": "publishBrandTemplate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublishBrandTemplateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/PublishBrandTemplateSuccessExample"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/PublishBrandTemplateResponse"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "invalid_design_id": {
                    "$ref": "#/components/examples/InvalidDesignIdError"
                  },
                  "resource_limit_exceeded": {
                    "$ref": "#/components/examples/ResourceLimitExceededError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request - includes validation errors and other bad request errors"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "publish_permission_denied": {
                    "$ref": "#/components/examples/PublishPermissionDeniedError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "publish_brand_template_design_not_found": {
                    "$ref": "#/components/examples/PublishBrandTemplateDesignNotFoundError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "brandtemplate:content:write"
            ]
          }
        ],
        "tags": [
          "brand_template"
        ],
        "x-rate-limit-per-client-user": 20
      }
    },
    "/v1/brand-templates/{brandTemplateId}": {
      "get": {
        "description": "AVAILABILITY: To use this API, your app must act on behalf of a user that's on a Canva plan with access to brand templates (such as Canva Pro, Canva Teams, or Canva Enterprise).\n\nRetrieves the metadata for a brand template.",
        "operationId": "getBrandTemplate",
        "parameters": [
          {
            "description": "The brand template ID.",
            "explode": false,
            "in": "path",
            "name": "brandTemplateId",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBrandTemplateResponse"
                }
              }
            },
            "description": "OK"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "get_brand_template_permission_denied": {
                    "$ref": "#/components/examples/GetBrandTemplatePermissionDeniedError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "get_brand_template_not_found": {
                    "$ref": "#/components/examples/GetBrandTemplateNotFoundError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "brandtemplate:meta:read"
            ]
          }
        ],
        "tags": [
          "brand_template"
        ],
        "x-rate-limit-per-client-user": 100
      }
    },
    "/v1/brand-templates/{brandTemplateId}/dataset": {
      "get": {
        "description": "AVAILABILITY: To use this API, your app must act on behalf of a user that's on a Canva plan with access to brand templates (such as Canva Pro, Canva Teams, or Canva Enterprise).\n\nGets the dataset definition of a brand template. If the brand\ntemplate contains autofill data fields, this API returns an object with the data field\nnames and the type of data they accept.\n\n<Note>\n\nTo get the dataset definition of a design, use the\n[Get design dataset API](https://www.canva.dev/docs/apps/rest-apis/reference/designs/get-design-dataset/).\n\n</Note>\n\nAvailable data field types include:\n\n- Images (which you can autofill with an image or a video asset)\n- Text\n- Charts\n- Sheets\n\nYou can autofill a brand template using the [Create a design autofill job\nAPI](https://www.canva.dev/docs/apps/rest-apis/reference/autofills/create-design-autofill-job/).",
        "operationId": "getBrandTemplateDataset",
        "parameters": [
          {
            "description": "The brand template ID.",
            "explode": false,
            "in": "path",
            "name": "brandTemplateId",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBrandTemplateDatasetResponse"
                }
              }
            },
            "description": "OK"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "get_brand_template_dataset_permission_denied": {
                    "$ref": "#/components/examples/GetBrandTemplateDatasetPermissionDeniedError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "get_brand_template_dataset_not_found": {
                    "$ref": "#/components/examples/GetBrandTemplateDatasetNotFoundError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "brandtemplate:content:read"
            ]
          }
        ],
        "tags": [
          "brand_template"
        ],
        "x-rate-limit-per-client-user": 100
      }
    },
    "/v1/comments": {
      "post": {
        "deprecated": true,
        "description": "<Warning>\n\nThis preview API is deprecated. You should use the [Create thread](https://www.canva.dev/docs/apps/rest-apis/reference/comments/create-thread/) API instead.\n\n</Warning>\n\nCreate a new top-level comment on a design.\nFor information on comments and how they're used in the Canva UI, see the\n[Canva Help Center](https://www.canva.com/help/comments/). A design can have a maximum\nof 1000 comments.",
        "operationId": "createComment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCommentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCommentResponse"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "assignee_not_mentioned": {
                    "$ref": "#/components/examples/AssigneeNotMentionedError"
                  },
                  "message_too_long": {
                    "$ref": "#/components/examples/MessageTooLongError"
                  },
                  "invalid_mention_ids": {
                    "$ref": "#/components/examples/InvalidMentionIdsError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "too_many_comments": {
                    "$ref": "#/components/examples/TooManyCommentsError"
                  },
                  "not_allowed_to_comment": {
                    "$ref": "#/components/examples/NotAllowedToCommentError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "design_not_found": {
                    "$ref": "#/components/examples/DesignNotFoundError"
                  },
                  "mentioned_user_not_found": {
                    "$ref": "#/components/examples/MentionedUserNotFoundError"
                  },
                  "mentioned_team_not_found": {
                    "$ref": "#/components/examples/MentionedTeamNotFoundError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "comment:write"
            ]
          }
        ],
        "tags": [
          "comment"
        ],
        "x-rate-limit-per-client-user": 20
      }
    },
    "/v1/designs/{designId}/comments/{threadId}/replies": {
      "get": {
        "description": "<Warning>\nThis API is currently provided as a preview. Be aware of the following:\n- There might be unannounced breaking changes.\n- Any breaking changes to preview APIs won't produce a new [API version](https://www.canva.dev/docs/apps/rest-apis/versions/).\n- Public apps that use preview APIs will not pass the review process, and can't be made available to all Canva users.\n</Warning>\n\nRetrieves a list of replies for a comment or suggestion thread on a design.\n\nFor information on comments and how they're used in the Canva UI, see the\n[Canva Help Center](https://www.canva.com/help/comments/).",
        "operationId": "listReplies",
        "parameters": [
          {
            "description": "The design ID.",
            "explode": false,
            "in": "path",
            "name": "designId",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            },
            "style": "simple"
          },
          {
            "description": "The ID of the thread.",
            "example": "KeAbiEAjZEj",
            "explode": false,
            "in": "path",
            "name": "threadId",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            },
            "style": "simple"
          },
          {
            "explode": true,
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 50,
              "description": "The number of replies to return.",
              "format": "int32",
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            },
            "style": "form"
          },
          {
            "description": "If the success response contains a continuation token, the list contains more items you can list. You can use this token as a query parameter and retrieve more items from the list, for example `?continuation={continuation}`.\n\nTo retrieve all items, you might need to make multiple requests.",
            "explode": true,
            "in": "query",
            "name": "continuation",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRepliesResponse"
                }
              }
            },
            "description": "OK"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "not_allowed_to_fetch_replies": {
                    "$ref": "#/components/examples/NotAllowedToFetchRepliesError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "design_or_thread_not_found": {
                    "$ref": "#/components/examples/DesignOrThreadNotFoundError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "comment:read"
            ]
          }
        ],
        "tags": [
          "comment"
        ],
        "x-rate-limit-per-client-user": 100
      },
      "post": {
        "description": "<Warning>\n\nThis API is currently provided as a preview. Be aware of the following:\n\n- There might be unannounced breaking changes.\n- Any breaking changes to preview APIs won't produce a new [API version](https://www.canva.dev/docs/apps/rest-apis/versions/).\n- Public apps that use preview APIs will not pass the review process, and can't be made available to all Canva users.\n\n</Warning>\n\nCreates a reply to a comment or suggestion thread on a design.\nTo reply to an existing thread, you must provide the ID of the thread\nwhich is returned when a thread is created, or from the `thread_id` value\nof an existing reply in the thread. Each thread can\nhave a maximum of 100 replies created for it.\n\nFor information on comments and how they're used in the Canva UI, see the\n[Canva Help Center](https://www.canva.com/help/comments/).",
        "operationId": "createReply",
        "parameters": [
          {
            "description": "The design ID.",
            "explode": false,
            "in": "path",
            "name": "designId",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            },
            "style": "simple"
          },
          {
            "description": "The ID of the thread.",
            "example": "KeAbiEAjZEj",
            "explode": false,
            "in": "path",
            "name": "threadId",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReplyV2Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReplyV2Response"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "message_too_long": {
                    "$ref": "#/components/examples/MessageTooLongError"
                  },
                  "invalid_mention_ids": {
                    "$ref": "#/components/examples/InvalidMentionIdsError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "too_many_replies": {
                    "$ref": "#/components/examples/TooManyRepliesError"
                  },
                  "not_allowed_to_reply": {
                    "$ref": "#/components/examples/NotAllowedToReplyError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "design_or_comment_not_found": {
                    "$ref": "#/components/examples/DesignOrCommentNotFoundForReplyError"
                  },
                  "mentioned_user_not_found": {
                    "$ref": "#/components/examples/MentionedUserNotFoundError"
                  },
                  "mentioned_team_not_found": {
                    "$ref": "#/components/examples/MentionedTeamNotFoundError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "comment:write"
            ]
          }
        ],
        "tags": [
          "comment"
        ],
        "x-rate-limit-per-client-user": 20
      }
    },
    "/v1/designs/{designId}/comments/{threadId}": {
      "get": {
        "description": "<Warning>\n\nThis API is currently provided as a preview. Be aware of the following:\n\n- There might be unannounced breaking changes.\n- Any breaking changes to preview APIs won't produce a new [API version](https://www.canva.dev/docs/apps/rest-apis/versions/).\n- Public apps that use preview APIs will not pass the review process, and can't be made available to all Canva users.\n\n</Warning>\n\nGets a comment or suggestion thread on a design.\nTo retrieve a reply to a comment thread, use the [Get reply](https://www.canva.dev/docs/apps/rest-apis/reference/comments/get-reply/) API.\nFor information on comments and how they're used in the Canva UI, see the\n[Canva Help Center](https://www.canva.com/help/comments/).",
        "operationId": "getThread",
        "parameters": [
          {
            "description": "The design ID.",
            "explode": false,
            "in": "path",
            "name": "designId",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            },
            "style": "simple"
          },
          {
            "description": "The ID of the thread.",
            "example": "KeAbiEAjZEj",
            "explode": false,
            "in": "path",
            "name": "threadId",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetThreadResponse"
                }
              }
            },
            "description": "OK"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "not_allowed_to_fetch_comment": {
                    "$ref": "#/components/examples/NotAllowedToFetchCommentError"
                  },
                  "not_allowed_to_fetch_suggestion": {
                    "$ref": "#/components/examples/NotAllowedToFetchSuggestionError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "thread_not_found": {
                    "$ref": "#/components/examples/ThreadNotFoundError"
                  },
                  "thread_not_attached_to_design": {
                    "$ref": "#/components/examples/ThreadNotAttachedToDesignError"
                  },
                  "suggestion_not_found": {
                    "$ref": "#/components/examples/SuggestionNotFoundError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "comment:read"
            ]
          }
        ],
        "tags": [
          "comment"
        ],
        "x-rate-limit-per-client-user": 100
      }
    },
    "/v1/designs/{designId}/comments/{threadId}/replies/{replyId}": {
      "get": {
        "description": "<Warning>\n\nThis API is currently provided as a preview. Be aware of the following:\n\n- There might be unannounced breaking changes.\n- Any breaking changes to preview APIs won't produce a new [API version](https://www.canva.dev/docs/apps/rest-apis/versions/).\n- Public apps that use preview APIs will not pass the review process, and can't be made available to all Canva users.\n\n</Warning>\n\nGets a reply to a comment or suggestion thread on a design.\nFor information on comments and how they're used in the Canva UI, see the\n[Canva Help Center](https://www.canva.com/help/comments/).",
        "operationId": "getReply",
        "parameters": [
          {
            "description": "The design ID.",
            "explode": false,
            "in": "path",
            "name": "designId",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            },
            "style": "simple"
          },
          {
            "description": "The ID of the thread.",
            "example": "KeAbiEAjZEj",
            "explode": false,
            "in": "path",
            "name": "threadId",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            },
            "style": "simple"
          },
          {
            "description": "The ID of the reply.",
            "example": "KeAZEAjijEb",
            "explode": false,
            "in": "path",
            "name": "replyId",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetReplyResponse"
                }
              }
            },
            "description": "OK"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "not_allowed_to_fetch_reply": {
                    "$ref": "#/components/examples/NotAllowedToFetchReplyError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "reply_not_found": {
                    "$ref": "#/components/examples/ReplyNotFoundError"
                  },
                  "suggestion_reply_not_found": {
                    "$ref": "#/components/examples/SuggestionReplyNotFoundError"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "comment:read"
            ]
          }
        ],
        "tags": [
          "comment"
        ],
        "x-rate-limit-per-client-user": 100
      }
    },
    "/v1/designs/{designId}/comments": {
      "post": {
[...]
